/*
* @Author: anshad
* @Date:   2017-09-05 11:16:06
* @Last Modified by:   anshad
* @Last Modified time: 2017-09-05 16:08:30
*/
$orange:#FFA200;
#app-container {
	padding:50px 0;
}
.nav {
	background-color: #F3F3F3;
	padding:15px;
	width: 100%;
	.nav-item {
		min-width: 25%;
		.nav-link {
			background-color:#F7F7F7;
			border:1px solid #dcdcdc;
			border-radius: 0;
			text-align: center;
			color:$orange;
			text-transform: uppercase;
			&.active {
				background-color:$orange;
				color:#fff;
			}
			&:hover {
				background-color:$orange;
				color:#fff;
			}
		}
	}
}
